html {
  font-family: Tahoma sans-serif;
  font-size: 62.5%;
  line-height: 1.25;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "hero-font";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(fonts/black_streamer.woff2) format("woff2");
}

:root {
  --primary-color: #4e3c6e;
  --dark-accent: #593d5f;
  --dark-shade: #141122;
  --light-accent: #a38bd7;
  --light-shade: #eebefa;

  --dark-accent-2: #d8862f;
  --dark-shade-2: #b75514;

  --before-element-color: firebrick;
}

/* :root {
  --primary-color: #c964e9;
  --dark-accent-2: #d8862f;
  --dark-shade-2: #b75514;
  --light-accent: #7519a5;
  --light-shade: #a443cc;
} */

body {
  display: flex;
  min-height: 100svh;
  font-size: 1.6rem;
}

header {
  flex: 1;
  position: relative;
  min-width: 40rem;
  background-image: url(images/hero-banner.jpg);
  background-size: cover;

  & small {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-style: italic;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  & a {
    color: white;
  }
}

.hero {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  padding: 1.6rem;
  top: 20%;
  background-color: rgb(0, 0, 0, 0.7);

  & h1 {
    color: white;
    background-color: transparent;
    font-family: hero-font Tahoma sans-serif;
    font-size: 3rem;
    padding-top: 2rem;
  }
}

main {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: rgb(219, 216, 226);
  align-items: stretch;
}

button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.7);
  transition: all 0.2s ease-in;
}

@media (hover: hover) {
  button:is(:hover, :focus) {
    color: rgb(43, 39, 39);
    background-color: var(--light-shade);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 2px rgb(0, 0, 0, 0.35);
  }
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.7);
}

:is(.details__description, .details__form, .details__button) {
  flex: 1;
}

.details__description {
  display: flex;
  justify-content: center;
  align-items: center;

  & h3 {
    width: 70ch;
    color: white;
    background-color: var(--primary-color);
    padding: 2rem 4rem;
    box-shadow: 0 0 10px 10px var(--light-accent);
    text-align: center;
    font-style: italic;
  }
}

.details__button {
  padding: 5rem;

  & a {
    color: var(--dark-shade-2);
  }
}

.details__form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 5rem;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.4);
  gap: 2rem;
}

.details__form__title {
  display: flex;
  color: var(--dark-shade-2);
  gap: 1rem;

  & img {
    width: 40px;
    color: gray;
    object-fit: contain;
  }
}

.details__form__elements {
  display: flex;
}

.form-elements-container {
  display: flex;
  flex: 0 1 600px;
  flex-wrap: wrap;
  gap: 3rem;

  & div {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
  }

  & label {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(105, 105, 105);
  }

  & input {
    width: 24rem;
    height: 3rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline: none;
  }
}

input::placeholder {
  font-size: 1.5rem;
}

input:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}

input[id="phone"]:invalid + span::after,
input[id="email"]:invalid:not(:placeholder-shown) + span::after,
input[id="pw"]:invalid:not(:placeholder-shown) + span::after,
input[id="confirm-pw"]:invalid:not(:placeholder-shown) + span::after {
  position: absolute;
  content: "✖";
  left: 22rem;
  bottom: 0.5rem;
  color: firebrick;
}

input[id="phone"]:valid:not(:placeholder-shown) + span::after,
input[id="email"]:valid:not(:placeholder-shown) + span::after,
input[id="pw"]:valid:not(:placeholder-shown) + span::after,
input[id="confirm-pw"]:valid:not(:placeholder-shown) + span::after {
  position: absolute;
  content: "✔";
  left: 22rem;
  bottom: 0.5rem;
  color: seagreen;
}

.pw-requirements {
  font-style: italic;
  line-height: 0.8;
  visibility: hidden;

  & *:not(p:first-child)::before {
    content: attr(data-before);
    color: var(--before-element-color);
  }
}

.pw-requirements p:first-child {
  text-decoration: underline;
}
